header {
    align-items: left;
    justify-content: left;
    display: flex;

    button {
        border-radius: 99px;
        border: 1px solid grey;
        background-color: var(--card-bg);
        color: var(--text-main);
        padding: 1rem;
        cursor: pointer;

        transition: var(--transition);
    }

    button:hover {
        background-color: var(--text-main);
        color: var(--card-bg);
        transition: var(--transition);
    }
}

#project_card {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-main);
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
    transition: var(--transition);

    button {
        border-radius: 10px;
        border: 1px solid var(--text-main);
        background-color: var(--card-bg);
        color: var(--text-main);
        width: 50%;
        height: 10%;
        padding: 1rem;
        cursor: pointer;
        transition: var(--transition);
    }
}

footer {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-main);
    padding: 2rem;
    text-align: center;
    margin: 2rem;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
    transition: var(--transition);
}